/* Estilos gerais */
.bold{
  font-weight: bolder;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #2b2f50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

nav {
  background-color: rgb(63, 70, 134);
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif; 
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

h3{
  color: rgb(54, 54, 54); 
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 20px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagem-centralizada {
  display: block; 
  margin: 2% auto; 
  max-width: 100%; 
  height: 100px; 
  border: 2px solid #2c2b2b;
}

.imagem-decada{
  display: block; 
  margin: 1.4% auto; 
  margin-top: 25px;
  width: max-content;
  height: 200px;
 border: 2px solid #2c2b2b;
}
.container {
  text-align: center; /* Opcional: centraliza as imagens horizontalmente */
}

.container img {
  display: inline-block;
  max-width: 100%; 
  height: 90px; 
  margin: 5px 10px; /* Opcional: adiciona margem entre as imagens */
}

.texto-img{
  font-weight: bolder;
  text-align: center;
 font-size: 12px;
 margin-bottom: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.texto{
  font-weight: bolder;
  text-align: center;
 font-size: 12px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 margin: 0 auto;
 margin-bottom: 25px;
}

.decadas {
  background-color: #2b2f50;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.borda{
  border: 2px solid #2c2b2b;
}


/* Estilos para seções */
h2 {
  font-size: 24px;
  margin-top: 0;
}

/* Rodapé */
footer {
  background-color: #2b2f50;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}


/* Ocultar todas as seções de informações */
.info {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Exibir seções quando estiverem visíveis na janela */
.info.active {
  opacity: 1;
  transform: translateY(0);
}


/* Adicione outros estilos conforme necessário */

.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.mySlides {
  display: none;
}

img {
  width: 150px; 
  margin: 10px;
  scale: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  0% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}

